.manual-overlay {
  backdrop-filter: blur(5px);
  height: 100vh;
  width: 100vw;
  padding: 20px;
  overflow-y: auto;
  box-sizing: border-box;
}

.manual {
  margin-inline: auto;
  width: fit-content;
  max-width: 60%;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: start;
  background-color: #333;
}

.manual-entry {
  background-color: #1d1d1d;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: 2em;
  align-items: center;
  justify-content: space-between;
  text-align: end;
  text-wrap: balance;
  padding: 10px;
  margin-top: 10px;
}

.manual-txt-entry {
  background-color: #1d1d1d;
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  margin-top: 10px;
  font-size: medium;
}

.manual-key {
  display: inline grid;
  font-size: medium;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  min-height: 3rem;
  min-width: 3rem;
  max-width: 240px;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: bold;
  background-color: #555;
  border-radius: 8px;
}

.manual-keys {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.manual-button {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  position: fixed;
  top: 20px;
  right: 20px;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #444;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  font-weight: bold;
  font-size: larger;
  color: white;
  cursor: pointer;
}

.manual-button:hover {
  background-color: #666;
}