.navbar {
  position: absolute;
  right: 0;
  top: 50%;
  /* Start at the middle of the page */
  transform: translateY(-50%) translateX(0px);
  /* Move it up by half its own height */
  width: 245px;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.pgname {
  overflow: warp;
  word-wrap: break-word;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-align: center;
}

.pgname i {
  cursor: pointer;
  /* make it smaller */
  font-size: 1rem;
}

.pgname-edit-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0.2rem;
}

.navbar-group {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  margin-top: 20px;
}

.navbar-group-heading {
  font-size: 1.4rem;
  color: white;
  text-align: center;
}


.navbar-group button,
.navbar-group .button {
  text-align: center;
  background-color: #1d1d1d;
  border-radius: 10px;
  color: white;
  padding: 0.7rem 1rem;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
  width: 100%;
  font-size: 12px;
}

.button-square {
  width: 3rem !important;
}

.navbar-group button:hover,
.navbar-group .button:hover {
  opacity: 0.8;
}

#file-name-display {
  font-size: 12px;
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#layout-select {
  width: 100%;
  padding: 0.7rem 1rem;
  border-radius: 10px;
  text-align: center;
  border: none;
  background-color: #1d1d1d;
  color: white;
  font-size: 12px;
  cursor: pointer;
}